.ss3 
{
	/* my color*/
	color : #ccb060;
}
.ss4
{
	color : #f1f1f1;
}
.ss7
{
	color : #222529;
}
.ss8
{
	color : #b39c69;
}
.ss9
{
	color : #eccc7b;
}
.ss10
{
	color : #64551e;
}
.ss11
{
	color : #f1f1f1;
}
.ss12
{
	color : #efd668;
}
.ss13
{
	color : #f0d87a;
}
.ss14
{
	color : #61531b;
}
.ss15
{
	color : #fc2b39;
}
.ss16
{
	color : #ffdb6d;
}
.ss17
{
	color : #fc5461;
}
.ss18
{
	color : #f1f1f1;
}
.ss19
{
	color : #b0df6f;
}
.ss20
{
	color : #efd668;
}
.ss21
{
	color : #e0d07f;
}
.ss22
{
	color : #f1f1f1;
}
.ss23
{
	color : #f6b3a3;
}
.ss24
{
	color : #b2000a;
}
.ss25
{
	color: #f07a24;
}
.ss26
{
	color : #f1debd;
}
.ss27 /* liverpolls */
{
	color : #f3f2e4;
}
.ss28
{
    color : #0d0e26;    
}
.ss29
{
    color : #e9ec7c;
}